#dashboard {

}

.patient-selector {
    width: 100%;
}

.ui.item.dropdown.archive {
  position: absolute;
  bottom: 0px;
  height: 100px;
  border-top: 5px dashed;
  width: 100%;
}

.sidebar-content {
  height: 92%;
}

#vault {
  margin: 1rem 0 0 2rem;
  width: 100%;
}
