#dashboard {

}

.patient-selector {
  width: 100%;
}

.ui.item.dropdown.archive {
  position: absolute;
  bottom: 0px;
  height: 100px;
  border-top: 5px dashed;
  width: 100%;
}

.sidebar-content {
  height: 92%;
}

#vault {
  margin: 3rem 0 0 2rem;
  width: 100%;
}

.storage {
  margin-top: -1.5rem;
  font-size: 14px;
}


/****** right-sidebar ******/

.frame.right-sidebar {
  width: 13rem;
  margin-right: .5rem;
  padding-right: 1.5rem;
}

div > .right-sidebar-folder-icon {
  margin-left: 30px;
}

.right-sidebar-image {
  text-align: center;
}

.right-sidebar-grid {
  font-size: .8em;
  overflow-wrap: break-word;
}

.ui two column grid right-sidebar-grid {
  margin-right: 1rem
}

.ui.grid>.row {
  padding-bottom: 0rem;
}

.ui.grid>.row>.column {
  padding-right: 0rem;
}

/***** vault.js   ****/

main {
  top: 100px;
  left: 270px;
  right: 190px;
}

.vault-main-heading {
  font-size: 1.2em;
}

.vault-main-container1 {
  display: flex;
  flex-wrap: wrap;
}

.vault-main-button {
  margin-right: 20px;
  margin-top: 10px;
  border: 1px #ccc solid;
  border-radius: 5px; 
  width: 220px;
  height: 40px;
}

.vault-main-icon {
  position: relative;
  top: 5px;
  color: #808080;
  font-size: 25px; 
}
.vault-main-button > span {
  margin: 10px;
}

.vault-main-message {
  font-size: 24px;
}

