#app-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

#app-footer li {
  float: left;
  margin-left: 20px;
  color: white;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
#app-footer li:hover {
  background-color: #111111;
}
