.frame {
  bottom: -7rem;
}

.frame.header {
  padding-bottom: 6rem;
}

.frame.left-sidebar {
  top: 5.05rem;
  height: 104%;
}

.frame.right-sidebar {
  top: 7rem;
}

.sidebar-content {
  height: 101%;
}

#app-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

#app-footer li {
  float: left;
  margin-left: 20px;
  color: white;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
#app-footer li:hover {
  background-color: #111111;
}

.ui.menu .item>.input 
input {
  width: 25rem;
}
